@page "/autocomplete"

@inherits AutoCompleteBase

<table>
    <tr>
        <td>
            <h6>Remote Data</h6>
            <RemoteAutoComplete></RemoteAutoComplete>
        </td>
        <td>
            <h6>Local Data</h6>
            <LocalAutoComplete NamedSources="@GetStates()"
                               Placeholder="State, e.g. Georgia">
            </LocalAutoComplete>
        </td>
    </tr>
</table>
