@page "/autocomplete"

@inherits AutoCompleteBase

<table>
    <tr>
        <td>
            <RemoteAutoComplete></RemoteAutoComplete>
        </td>
        <td>
        <LocalAutoComplete NamedSources="@GetStates()"
                           Placeholder="State, e.g. Georgia">
        </LocalAutoComplete>
        </td>
    </tr>
</table>
