.cold {
    background-color: lightblue
}

.cool {
    background-color: lightgreen
}

.average {
    background-color: lightyellow
}

.warm {
    background-color: lightsalmon
}

.hot {
    background-color: lightcoral
}
