.Cold {
    background-color: lightblue
}

.Cool {
    background-color: lightgreen
}

.Average {
    background-color: lightyellow
}

.Warm {
    background-color: lightsalmon
}

.Hot {
    background-color: lightcoral
}
