@inherits ForecastIconBase

<div class="@DailyForecast.Color">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="@DailyForecast.Icon" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>Lo: </b>@DailyForecast.Low
                </td>
                <td>
                    <b>Hi: </b>@DailyForecast.High
                </td>
            </tr>
        </tbody>
    </table>
</div>
