@inherits ForecastIconBase

<div class="@DailyForecast.Color">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="@DailyForecast.Icon" />
                </td>
            </tr>
            <tr>
                <td>
                    <b>High: </b>@DailyForecast.High
                </td>
                <td>
                    <b>Low: </b>@DailyForecast.Low
                </td>
            </tr>
        </tbody>
    </table>
</div>
